---
layout: default
---

   <div id="page-title">

      <div class="row">
         <div class="ten columns centered text-center">
            <h1>{{ page.title }}<span>.</span></h1>
         </div>
      </div>
   </div>
   
   <div class="content-outer">

      <div id="page-content" class="row">

         <div id="primary" class="eight columns">

            <article class="post">
               <div class="post-content">
                  {{ content }}
	       </div>
            </article> <!-- post end -->
	  </div>
		
        <div id="secondary" class="four columns end">

           <aside id="sidebar">
              
              <div class="widget widget_categories">
                 <h5 class="widget-title">Artiklar</h5>
                 <ul class="link-list cf">
					{% for post in site.posts %}
					     <li>
					       <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
					     </li>
					{% endfor %}
					</ul>
              </div>
			  
              <div class="widget widget_text">
                 <h5 class="widget-title"></h5>
                 <div class="textwidget">
					
			<!-- placeholder for ad -->
                 </div>
	         </div>

             </div>

           </aside> <!-- Sidebar End -->

        </div>
		
	</div>
   </div>
