---
layout: default
---

   <div id="page-title">

      <div class="row">
         <div class="ten columns centered text-center">
            <h1>{{ page.title }}<span>.</span></h1>
         </div>
      </div>
   </div>
   
   <div class="content-outer">

      <div id="page-content" class="row">

         <div id="primary" class="eight columns">

            <article class="post">
               <div class="post-content">
                  {{ content }}
				  
				  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				  <!-- Responsive -->
				  <ins class="adsbygoogle"
				       style="display:block"
				       data-ad-client="ca-pub-2791399157979138"
				       data-ad-slot="3141781132"
				       data-ad-format="auto"></ins>
				  <script>
				  (adsbygoogle = window.adsbygoogle || []).push({});
				  </script>
				</div>
            </article> <!-- post end -->
		</div>
		
        <div id="secondary" class="four columns end">

           <aside id="sidebar">
              
              <div class="widget widget_categories">
                 <h5 class="widget-title">Artiklar</h5>
                 <ul class="link-list cf">
					{% for post in site.posts %}
					     <li>
					       <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
					     </li>
					{% endfor %}
					</ul>
              </div>
			  
              <div class="widget widget_text">
                 <h5 class="widget-title"></h5>
                 <div class="textwidget">
					
					<a href="https://www.svenskasajter.com"><img style="border:0px" border="0" alt="SvenskaSajter.com - Den ständigt växande länkkatalogen" src="https://www.svenskasajter.com/images/banners/80x15.gif" /></a>
					<a href="https://www.1000lankar.com" target="_blank"><img src="https://www.1000lankar.com/images/80x15x1.gif" alt="1000länkar.com - gratis länkkatalog" width="80" height="15" border="0"></a> 
					
  				  <script type="text/javascript">
  				  google_ad_client = "pub-2791399157979138";
  				  /* 200x90, skapad 2010-01-31 */
  				  google_ad_slot = "8224571322";
  				  google_ad_width = 200;
  				  google_ad_height = 90;
  				  //-->
  					  
  				  </script>
  				  <script type="text/javascript"
  				  src="//pagead2.googlesyndication.com/pagead/show_ads.js">
  				  </script>
                 </div>
	         </div>

             </div>

           </aside> <!-- Sidebar End -->

        </div>
		
	</div>
   </div>
